.parallax-container {
    width: 100%;
    height: 100svh;
    scroll-snap-align: start;
    position: relative;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--color-primary-500);
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 1000;
}
