.parallax-container {
    width: 100%;
    height: 100svh;
    scroll-snap-align: start;
    position: relative;
}

.progress {
    position: fixed;
    border-radius: 100px;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--color-primary-400);
    bottom: 8px;
    transform: scaleX(0);
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    .progress {
        background: var(--color-neutral-600);
    }
}
