@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-snap-type: y mandatory;
  background: transparent;
  min-height: 100vh;
}

@theme inline {
  /* Font Classes */
  --font-sans: "Google Sans", system-ui, sans-serif;
  --font-display: "Funnel Display", system-ui, sans-serif;

  /* Neutral Color Palette */
  --color-neutral-950: var(--color-neutral-950);
  --color-neutral-900: var(--color-neutral-900);
  --color-neutral-800: var(--color-neutral-800);
  --color-neutral-700: var(--color-neutral-700);
  --color-neutral-600: var(--color-neutral-600);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-400: var(--color-neutral-400);
  --color-neutral-300: var(--color-neutral-300);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-50: var(--color-neutral-50);

  /* Primary Color Palette */
  --color-primary-900: var(--color-primary-900);
  --color-primary-800: var(--color-primary-800);
  --color-primary-700: var(--color-primary-700);
  --color-primary-600: var(--color-primary-600);
  --color-primary-500: var(--color-primary-500);
  --color-primary-400: var(--color-primary-400);
  --color-primary-300: var(--color-primary-300);
  --color-primary-200: var(--color-primary-200);
  --color-primary-100: var(--color-primary-100);
  --color-primary-50: var(--color-primary-50);

  /* Accent Color Palette */
  --color-accent-900: var(--color-accent-900);
  --color-accent-800: var(--color-accent-800);
  --color-accent-700: var(--color-accent-700);
  --color-accent-600: var(--color-accent-600);
  --color-accent-500: var(--color-accent-500);
  --color-accent-400: var(--color-accent-400);
  --color-accent-300: var(--color-accent-300);
  --color-accent-200: var(--color-accent-200);
  --color-accent-100: var(--color-accent-100);
  --color-accent-50: var(--color-accent-50);

  /* Application Specific Colors */
  --color-background: var(--color-neutral-950);
  --color-surface: var(--color-neutral-900);
  --color-foreground: var(--color-neutral-50);
  --color-foreground-secondary: var(--color-neutral-300);
  --color-border: var(--color-neutral-800);
  --color-border-light: var(--color-neutral-700)
}

:root {
  /* Neutral Color Tokens */
  --neutral-h: 270;
  --neutral-s: 20%;

  --neutral-l-950: 1%;
  --neutral-l-900: 5%;
  --neutral-l-800: 10%;
  --neutral-l-700: 15%;
  --neutral-l-600: 20%;
  --neutral-l-500: 30%;
  --neutral-l-400: 45%;
  --neutral-l-300: 65%;
  --neutral-l-200: 75%;
  --neutral-l-100: 85%;
  --neutral-l-50: 92%;
  
  --color-neutral-950: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-950));
  --color-neutral-900: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-900));
  --color-neutral-800: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-800));
  --color-neutral-700: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-700));
  --color-neutral-600: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-600));
  --color-neutral-500: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-500));
  --color-neutral-400: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-400));
  --color-neutral-300: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-300));
  --color-neutral-200: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-200));
  --color-neutral-100: hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-100));
  --color-neutral-50:  hsl(var(--neutral-h) var(--neutral-s) var(--neutral-l-50));


  /* Primary Color Tokens */
  --primary-h: 270;
  --primary-s: 60%;
  
  --primary-l-900: 5%;
  --primary-l-800: 10%;
  --primary-l-700: 15%;
  --primary-l-600: 20%;
  --primary-l-500: 30%;
  --primary-l-400: 45%;
  --primary-l-300: 65%;
  --primary-l-200: 75%;
  --primary-l-100: 85%;
  --primary-l-50: 92%;
  
  --color-primary-900: hsl(var(--primary-h) var(--primary-s) var(--primary-l-900));
  --color-primary-800: hsl(var(--primary-h) var(--primary-s) var(--primary-l-800));
  --color-primary-700: hsl(var(--primary-h) var(--primary-s) var(--primary-l-700));
  --color-primary-600: hsl(var(--primary-h) var(--primary-s) var(--primary-l-600));
  --color-primary-500: hsl(var(--primary-h) var(--primary-s) var(--primary-l-500));
  --color-primary-400: hsl(var(--primary-h) var(--primary-s) var(--primary-l-400));
  --color-primary-300: hsl(var(--primary-h) var(--primary-s) var(--primary-l-300));
  --color-primary-200: hsl(var(--primary-h) var(--primary-s) var(--primary-l-200));
  --color-primary-100: hsl(var(--primary-h) var(--primary-s) var(--primary-l-100));
  --color-primary-50:  hsl(var(--primary-h) var(--primary-s) var(--primary-l-50));


  /* Accent Color Tokens */
  --accent-h: 230;
  --accent-s: 60%;
  
  --accent-l-900: 5%;
  --accent-l-800: 10%;
  --accent-l-700: 15%;
  --accent-l-600: 20%;
  --accent-l-500: 30%;
  --accent-l-400: 45%;
  --accent-l-300: 65%;
  --accent-l-200: 75%;
  --accent-l-100: 85%;
  --accent-l-50: 92%;
  
  --color-accent-900: hsl(var(--accent-h) var(--accent-s) var(--accent-l-900));
  --color-accent-800: hsl(var(--accent-h) var(--accent-s) var(--accent-l-800));
  --color-accent-700: hsl(var(--accent-h) var(--accent-s) var(--accent-l-700));
  --color-accent-600: hsl(var(--accent-h) var(--accent-s) var(--accent-l-600));
  --color-accent-500: hsl(var(--accent-h) var(--accent-s) var(--accent-l-500));
  --color-accent-400: hsl(var(--accent-h) var(--accent-s) var(--accent-l-400));
  --color-accent-300: hsl(var(--accent-h) var(--accent-s) var(--accent-l-300));
  --color-accent-200: hsl(var(--accent-h) var(--accent-s) var(--accent-l-200));
  --color-accent-100: hsl(var(--accent-h) var(--accent-s) var(--accent-l-100));
  --color-accent-50:  hsl(var(--accent-h) var(--accent-s) var(--accent-l-50));
}

/* Mobil: sänk mättnad */
@media (max-width: 640px){
  :root { 
    --neutral-h: 250;
    --neutral-s: 20%;

    --primary-h: 250; 
    --primary-s: 55%;

    --accent-h: 220;
    --accent-s: 55%;
  }
}


@layer base {
  body {
    @apply font-sans;
    background: var(--color-background);
    min-height: 100vh;
  }

  p,
  ol,
  ul {
    @apply text-foreground-secondary leading-relaxed;
  }

  h1,
  .h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-display font-bold text-foreground leading-tight;
  }

  h2,
  .h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-display font-bold text-foreground leading-tight;
  }

  h3,
  .h3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-display font-semibold text-foreground leading-tight;
  }

  h4,
  .h4 {
    @apply text-xl md:text-2xl lg:text-3xl font-display font-semibold text-foreground leading-tight;
  }

  .body-large {
    @apply text-base lg:text-lg;
  }

  .container-x-padding {
    @apply px-4 md:px-8 lg:px-0;
  }

  .container-width {
    @apply w-full max-w-full lg:w-11/12 xl:w-10/12 2xl:w-9/12;
  }
}


@layer utilities {
  /* Gradient BG */
  .bg-gradient {
    background: linear-gradient(135deg, hsl(270, 90%, 4%) 0%, var(--color-background) 30%);
  }

  @media screen and (max-width: 768px) {
    .bg-gradient {
      background: linear-gradient(135deg, hsl(250, 80%, 4%) 0%, var(--color-background) 20%);
    }  
  }

  /* Text Glow */
  .text-glow {
    text-shadow: 
      0 0 20px rgba(138, 92, 246, 0.486),
      0 0 40px rgba(139, 92, 246, 0.2),
      0 0 50px rgba(139, 92, 246, 0.1);
  }

  @media screen and (max-width: 768px) {
    .text-glow {
      text-shadow: 
        0 0 10px rgba(138, 92, 246, 0.486),
        0 0 20px rgba(139, 92, 246, 0.2),
        0 0 25px rgba(139, 92, 246, 0.1);
    }
  }

  /* Button Glow */
  .btn-glow:hover {
    box-shadow: 0 4px 20px hsla(240, 70%, 34%, 0.562);
  }

  /* Nav Link Hover */
  .nav-link {
    transition: all ease-in-out 300ms;
  }
  .nav-link:hover {
    text-shadow: 
      0 0 20px hsl(240, 85%, 40%),
      0 0 40px hsl(240, 65%, 30%),
      0 0 50px hsl(240, 65%, 20%);
    box-shadow: inset 0 -2px 0 0 var(--color-accent-400);
  }

  .nav-link.active {
    box-shadow: inset 0 -2px 0 0 var(--color-accent-100);
    color: var(--color-accent-100);
  }
}
