/* Base Button Class */
.btn {
  background: var(--color-neutral-950);
  border-radius: 8px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 400;
  transition: all 0.3s ease;
  position: relative;
  background-clip: padding-box;
  color: var(--color-accent-50);
}

/* Primary Button - Neon glow with gradient */
.btn-primary {
  border: 1px solid transparent;
  background: 
    linear-gradient(var(--color-neutral-900), var(--color-neutral-950)) padding-box,
    linear-gradient(135deg, var(--color-accent-300), var(--color-primary-400)) border-box;
  box-shadow: 
    0 4px 20px hsla(240, 70%, 34%, 0.349),
    0 6px 25px rgba(102, 51, 153, 0.301),
    0 10px 40px rgba(75, 0, 130, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

/* Secondary Button */
.btn-secondary {
  border: 1px solid var(--color-neutral-500);
}

.btn:hover {
  color: white;
  background: 
    linear-gradient(var(--color-neutral-900), var(--color-neutral-900)) padding-box,
    linear-gradient(135deg, var(--color-accent-300), var(--color-primary-300)) border-box;
  transform: translateY(-2px);
  box-shadow: 
    0 4px 20px hsla(240, 70%, 34%, 0.562),
    0 10px 35px rgba(102, 51, 153, 0.2),
    0 15px 60px rgba(75, 0, 130, 0.15),
    0 4px 15px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.btn-secondary:hover {
  border-color: transparent;
}

.btn-tertiary {
  background: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid var(--color-accent-300);
  padding: 0 0 0.25em;
  color: var(--color-neutral-50);
  box-shadow: none;
  font-weight: 500;
  transition: border-color 0.2s, color 0.2s;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom-color: var(--color-accent-200);
  color: white;
  transform: none;
}
